body {
    font-family: FonteF1, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f1e9;
      
}

:root{

    --cor-terciaria: #1c6083;
    --cor-quartenaria: #f6f1e9;
}

.menu{  
    box-sizing: border-box;
    background-color: #29566C;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 0.7rem 0.7rem;
    
    

}

.menu h2{
    font-size: 1.5rem;
    margin: 0.4rem 0;
    color: var(--cor-quartenaria);
    font-family:"Julius Sans One", sans-serif;
}

.titulo{
    font-size: 1.5rem;
    margin: 0.4rem 0;
    color: var(--cor-terciaria);
    font-family:"Julius Sans One", sans-serif;
    text-align: center;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu li{
    margin: 0.30rem;
    padding: 0.7rem 0.7rem;
    color: var(--cor-quartenaria);
    font-family: "Abel", sans-serif;
    cursor: pointer;
}

.produtos figcaption{
    color: var(--cor-terciaria);
    font-family: "Abel", sans-serif;
    font-size: 1.2rem;
    padding: 0.7rem 0.7rem;
}

.produtos a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.7rem 0.7rem;
    cursor: pointer;

    
}

.produtos{
    height: 100vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.produtos article{
    width: 12%;
    height: 30%;
    margin: 1.5rem;
}

.produtos img{
    width: 100%;
    height: 70%;
    border-radius:10px;
    border-style: solid;
    border-color:#ffffff;
    margin: 1rem;
}


@media (width <=760px) {
    .produtos article{
        width: 40%;
        height: 50%;
    }
}